<style>
  .navbar-brand-text {
    font-size: 18px;
  }

  .navbar-alignment {
    padding-top: 10px;
  }

  .navbar-options {
    margin-right: 24px;
  }

 .navbar-options a,a:hover,a:visited,a:link,a:active {
    color: black;
    text-decoration: none;
  }

</style>
<div ng-controller="NavController">
  <nav class="navbar navbar-default navbar-alignment" role="navigation">
    <span navbar-brand class="navbar-brand-text"><img style="display: inline; height: 32px; position: relative; top: -4px;" src="images/realise_tiny_logo.png" alt="banner"/>Realise Agent</span>
    <span class="navbar-right navbar-options" uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle class="navbar-default"><span class="caret"></span> Options</a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          <a href>Update Password</a>
        </li>
        <li>
          <a ng-click="signOut()" href>Sign Out</a>
        </li>
      </ul>
    </span>
  </nav>
</div>
<div class="container" ng-controller="StatusController">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Current Time</h3>
        </div>
        <div class="panel-body">
          <div>{{hostTime| date : 'medium'}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agent</h3>
        </div>
        <div class="panel-body">
          <div>{{agentStatus.name}} {{agentStateText}} {{agentDuration| stateDuration}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Phone</h3>
        </div>
        <div class="panel-body">
          <div>
            <div ng-hide="agentPhoneConnected()" style="padding: 8px;">
              <span style="padding-right: 8px;">Address</span>
              <select id="phoneAddressSelect" ng-options="phone as phone.address for phone in phoneController.phones track by phone.address"
                ng-change="updatePhoneAddress(selectedPhone)" ng-model="selectedPhone"></select>
            </div>
            <div style="padding: 8px;">
              <span id="phoneStatusText">{{deviceAddress}} {{deviceState}}</span>
            </div>
            <div style="padding: 8px;">
              <button class="btn btn-primary" ng-show="deviceAddress" ng-disabled="agentPhoneConnected()" ng-click="connectBridge()">Connect</button>
              <button class="btn btn-info" ng-show="deviceAddress" ng-disabled="!agentPhoneConnected()" ng-click="disconnectBridge()">Release</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Options</h3>
        </div>
        <div class="panel-body">
          <ul>
            <div class="row">
              <div class="col col-md-6">
                <li>Wait for automated group calls</li>
              </div>
              <div class="col col-md-4">
                <button class="btn btn-info" ng-click="navigateReadyPage()" ng-disabled="!agentPhoneConnected()">Wait for Calls</button>
              </div>
            </div>
            <div class="row" style="padding-top: 8px">
              <div class="col col-md-6">
                <li>Place manual outbound call to specified phone number</li>
              </div>
              <div class="col col-md-4">
                <button class="btn btn-info" ng-disabled="!agentPhoneConnected()">Place Manual Call</button>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span>{{systemVersion}}</span>
    <span style="position: absolute; right: 16px;">{{hostName}}</span>
  </div>
</footer>